@import "../themes.scss";
#bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
  background-color: #e8e6e7;
}
.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.picsum-img-wrapper {
  width: 100vw;
  height: 40rem;
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}

.slogan {
  position: absolute;
  z-index: 1;
  top: 12rem;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 5px 5px $ketchup;
  h1 {
    color: $secondary;
    line-height: 8rem;
    font-weight: 900;
    font-size: 10rem;
  }
  h2 {
    margin-top: 4rem;
    color: $bbq;
    line-height: 2rem;
    font-weight: 900;
    font-size: 10rem;
  }
}
.features {
  margin-top: 5rem;
  width: 100%;
  z-index: -99;
  display: flex;
  justify-content: space-evenly;
  .panel {
    padding: 1.5rem;
    text-align: center;
    b {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: $bbq;
    }
    p {
      font-size: 1rem;
    }
    span {
      font-size: 1rem;
      font-weight: bold;
      color: $bbq;
    }
    img {
      width: 30%;
      margin-bottom: 1rem;
    }
    align-items: center;
    background-color: white;
    width: 25rem;
    display: flex;
    flex-direction: column;
  }
}

.info {
  width: 100%;
  padding: 5rem;
  h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 7rem;
    margin-bottom: 2rem;
    line-height: 6rem;
  }
}

.burgers-display {
  background-color: white;
  width: 100%;
  h3 {
    text-align: center;
    padding: 3rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    font-size: 3rem;
  }
  .cards {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    .product-card {
      border-radius: 10px;
      .spans {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
      }
      span {
        text-align: center;
        font-size: 2rem;
        width: 100%;
        line-height: 1.8rem;
        font-weight: bolder;
        color: white;
      }
      img {
        padding: 1rem;
      }
      width: 30%;
      height: 25%;
      background-color: $bbq;
      display: flex;
      flex-direction: column;
    }
    .product-card:hover {
      transform: scale(1.1);
    }
  }
  button {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: $ketchup;
    border: none;
    color: white;
  }
  button:hover {
    background-color: $bbq;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
}
.deliver-info {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      float: left;
      width: 30%;
      height: 50%;
    }
    .text {
      height: 50%;
      width: 50%;
      float: right;
      display: flex;
      text-align: center;
      flex-direction: column;
      b {
        font-size: 2.5rem;
        line-height: normal;
      }
      p {
        font-size: 1.2rem;
        line-height: normal;
      }
      span {
        font-size: 1rem;
        line-height: normal;
        font-weight: bold;
        color: $bbq;
      }
      button {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        margin-top: 1rem;
        width: 50%;
        background-color: $ketchup;
        border: none;
        color: white;
      }
      button:hover {
        background-color: $bbq;
      }
    }
  }
}
.contact {
  display: flex;
  width: 100%;
  height: 20rem;
  margin-top: -2rem;
  justify-content: space-between;
  h3 {
    font-weight: bolder;
    font-size: 3rem;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  p {
    color: $bbq;
    font-weight: bold;
  }
  .l {
    form {
      display: flex;
      flex-direction: column;
      label {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      input {
        background: none;
        border: none;
        border-bottom: 0.2rem solid rgb(50, 50, 50);
        margin-bottom: 0.5rem;
      }
      textarea {
        background: none;
        border: none;
        border-bottom: 0.2rem solid rgb(50, 50, 50);
        margin-bottom: 0.5rem;
      }
      button {
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        margin-top: 0.5rem;
        width: 50%;
        background-color: $ketchup;
        border: none;
        color: white;
      }
      button:hover {
        background-color: $bbq;
      }
    }
  }
  .r {
    p {
      color: inherit;
      font-weight: inherit;
      font-size: 1.2rem;
    }
    span {
      color: inherit;
      font-weight: inherit;
      font-size: 1.2rem;
    }
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: $bbq;
    }
    div {
      margin-bottom: 2rem;
    }
  }
}
footer {
  width: 100%;
  padding-top: 3rem;
  clear: both;
  text-align: center;
  padding-bottom: 1rem;
}
