<div id="bg"></div>
<app-navbar class="navigation"></app-navbar>
<div class="slogan">
  <h1>BEST BURGERS</h1>
  <h2>IN TOWN</h2>
</div>
<ngb-carousel
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide *ngFor="let image of images">
    <div
      class="picsum-img-wrapper"
      style="background-image: url({{image}});"
    ></div>
  </ng-template>
</ngb-carousel>

<div class="features">
  <div class="panel">
    <img src="assets/other/util/shop_online.svg" alt="Order" />
    <b>Order online</b>
    <p>We deliver within a radius 6 km from the premises.</p>
    <p>The minimum order amount is 30 PLN.</p>
    <span>Free delivery over 100 PLN</span>
  </div>
  <div class="panel">
    <img src="assets/other/util/delivery.svg" alt="Order" />
    <b>Delivery</b>
    <p>Fast delivery of all burgers.</p>
    <p>Provided to you by.</p>
    <span>BOLT® and GLOVO®</span>
  </div>
  <div class="panel">
    <img src="assets/other/util/shopping_bag.svg" alt="Order" />
    <b>Pickup</b>
    <p>
      Pay conveniently with the transaction without cash or cash on delivery.
    </p>
    <span>Bon Appetit!</span>
  </div>
</div>
<!-- MAIN -->
<div class="info mt-4">
  <h2>DAILY FRESH</h2>
  <h2>GROUND BEED</h2>
</div>
<div class="container-xxl burgers-display">
  <h3>DISCOVER OUR PRODUCTS</h3>
  <div class="cards">
    <div class="product-card">
      <div class="spans">
        <span>MEAT</span>
        <span>BURGER</span>
      </div>
      <img src="assets/photos/regular/full-meat.png" alt="full meat burger">
    </div>
    <div class="product-card">
      <div class="spans">
        <span>MONSTER</span>
        <span>BURGER</span>
      </div>
      <img src="assets/photos/regular/monster.png" alt="monster burger">
    </div>
    <div class="product-card">
      <div class="spans">
        <span>CHEESE</span>
        <span>FRIES</span>
      </div>
      <img src="assets/photos/regular/Fries.png" alt="monster burger">
    </div>
  </div>
  <div class="center">
    <button>SEE THE MENU</button>
  </div>
</div>
<div class="container-xxl deliver-info">
  <div class="content">
    <img src="assets/photos/regular/delivery.png" alt="delivery box">
    <div class="text">
      <b>YES, WE DELIVER</b>
      <p>Satisfying your hunger just got easier.</p>
      <span>Place your order online</span>
      <button>PLACE ORDER</button>
    </div>
  </div>
</div>
<!-- CONTACT -->
<div class="container-xxl contact">
<div class="l">
  <h3>CONTACT US</h3>
  <p>JUST LEAVE US MESSAGE</p>
  <form class="form">
    <label for="name">Name</label>
    <input name="surname" type="text">
    <label for="email">Email address</label>
    <input name="email" type="text" required>
    <label for="message">Your message</label>
    <textarea name="message" id="message">
    </textarea>
    <button>SEND</button>
  </form>
</div>
<div class="r">
  <h3>VISIT US</h3>
  <div class="hours">
    <p>Monday - Saturday: 10:00am - 10:00pm</p>
    <p>Sunday: 12:00am - 10:00pm</p>
  </div>
  <div class="address">
    <p>Example Street 64,</p>
    <p>Springfield 65-801</p>
  </div>
  <div class="phone">
    <span>Phone orders: </span>
    <a href="tel:+05890000111">+05 890 000 111</a>
  </div>
</div>
</div>
<br>
<footer>
  Made with ❤️ by <a href="https://michalwitek.com.pl">Michał Witek</a>
</footer>
